* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #fbf7e3;
  padding: 1.5rem;
  display: flex;
  border-radius: 100px;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

nav button {
  background-color: #f3df85;
  border: 0;
  font-size: 1.3rem;
  color: #5f2109;
  padding: 1rem;
  border-radius: 50px;
  white-space: nowrap;
}

nav button img {
  height: 75px;
  margin-right: 3rem;
}

body > nav > button:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 2rem;
}

.card {
  width: 400px;
  height: 575px;
  display: flex;
  flex-direction: column;
  background-color: #fbf7e3;
  border-radius: 130px;
  overflow: hidden;
  align-items: center;
  color: #5f2109;
  font-family: Arial, Helvetica, sans-serif;
}

.card a {
  color: #5f2109;
}

.card img {
  width: 100%;
  object-fit: none;
  object-position: center;
  aspect-ratio: 10/9;
  margin-bottom: 0.7rem;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  width: 100%;
  align-items: center;
}

.card button {
  padding-inline: 4rem;
  padding-block: 0.8rem;
  background-color: #f3df85;
  border: 0;
  border-radius: 50px;
  font-size: 1.5rem;
  color: #5f2109;
}

.card-description-part-one {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-inline: 2rem;
  align-items: center;
  justify-content: space-between;
}

.card-description-part-one div div:nth-of-type(1) {
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
}

.card-description-part-one div div:nth-of-type(2) {
  font-size: 1.5rem;
  text-align: center;
}

.card-price {
  font-size: 1.7rem;
}

.card-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-article {
  display: flex;
  background-color: #fbf7e3;
  border-radius: 30px;
  padding: 1.3rem;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.3rem;
  color: #5f2109;
}

.main-article p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.main-article img {
  width: 55%;
}

@media screen and (max-width: 800px) {
  .main-article {
    flex-direction: column-reverse;
  }

  .main-article img {
    width: 100%;
  }
}
