* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  margin: 0;
  padding: 1rem;
}

nav {
  background-color: #fbf7e3;
  padding: 1.5rem;
  display: flex;
  border-radius: 100px;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

nav button {
  background-color: #f3df85;
  border: 0;
  font-size: 1.3rem;
  color: #5f2109;
  padding: 1rem;
  border-radius: 50px;
  white-space: nowrap;
}

nav button img {
  height: 75px;
  margin-right: 3rem;
}

nav > button:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 2rem;
}

h2 {
  color: #5f2109;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 1rem;
}

.card {
  width: 48%;
  display: flex;
  flex-direction: column;
  background-color: #fbf7e3;
  border-radius: 10%;
  overflow: hidden;
  align-items: center;
  color: #5f2109;
  font-family: Arial, Helvetica, sans-serif;
  margin-block: 1rem;
}

.card a {
  color: #5f2109;
}

.card img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 14/9;
  margin-bottom: 0.7rem;
}

.card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  width: 100%;
  align-items: center;
}

.card button {
  padding-inline: 4rem;
  padding-block: 0.8rem;
  background-color: #f3df85;
  border: 0;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 700;
  color: #5f2109;
  margin: 1rem;
}

.card-description-part-one {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-inline: 2rem;
  align-items: center;
  justify-content: space-between;
}

.card-description-part-one div div:nth-of-type(1) {
  font-weight: 700;
  font-size: 1.2rem;
  text-align: center;
}

.card-description-part-one div div:nth-of-type(2) {
  font-size: 1rem;
  text-align: center;
}

.card-price {
  font-size: 1.1rem;
}

.card-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-article {
  display: flex;
  background-color: #fbf7e3;
  border-radius: 30px;
  padding: 1.3rem;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1.3rem;
  color: #5f2109;
}

.main-article p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.main-article img {
  width: 55%;
}

.best-selling-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 768px) and (min-width: 577px) {
  .main-article {
    flex-direction: column-reverse;
  }

  .main-article img {
    width: 100%;
  }

  nav {
    background-color: #fbf7e3;
    padding: 0.5rem;
    display: flex;

    justify-content: space-evenly;
    align-items: center;
    gap: 10px;

    flex-wrap: nowrap;
    border-radius: 0;
  }

  nav button {
    border: 0;
    font-size: 0.8rem;
    color: #5f2109;
    padding: 1rem;
    border-radius: 50px;
    white-space: nowrap;
  }

  nav button img {
    height: 50px;
    margin-right: 1rem;
  }

  body > nav > button:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 1rem;
  }

  nav {
  }

  body {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  h2 {
    text-align: center;
  }

  nav {
    background-color: #fbf7e3;
    padding: 1.5rem;
    display: flex;
    border-radius: 100px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  nav button {
    background-color: #f3df85;
    border: 0;
    font-size: 1.3rem;
    color: #5f2109;
    padding: 1rem;
    border-radius: 50px;
    white-space: nowrap;
    width: 40%;
    min-width: 140px;
  }

  nav button img {
    height: 45px;
    margin-right: 2rem;
  }

  nav > button:nth-child(3) {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    padding-right: 2rem;
    padding-block: 2rem;
    order: -1;
    width: 85%;
    min-width: 200px;
  }

  .card {
    width: 100%;
  }

  .main-article {
    flex-direction: column-reverse;
  }

  .main-article img {
    width: 100%;
  }
}
